.company{
  .sec-content{
  .l-container{
    padding:0;
    width:960px;
    margin:0 auto;
    @include max-screen($break_point_pc) {
      width:100%;
    }
  }
}

  .sec-first{

    .l-container{
      font-size:0;
      letter-spacing: 0;
      padding:45px 0 65px 0;
      @include max-screen($break_point_pc) {
        padding:45px 4% 65px 4%;
      }

      h3{
        font-size:25px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
      }

      table{
        font-size:15px;
        text-align: left;
        width:800px;
        margin: 0 auto;
        box-sizing: border-box;
        @include max-screen($break_point_pc) {
          width:100%;
          border-top:1px solid #666;
        }

        tr{
          th{
            width:120px;
            box-sizing: border-box;
            border: 1px solid #666;
            vertical-align: top;
            padding:15px;
            font-weight: bold;
            background: rgba(0,0,0,0.05);
            letter-spacing: 1px;
            @include max-screen($break_point_pc) {
              display: block;
              width: 100%;
              border-bottom: none;
              border-top: none;
            }
          }
          td{
            box-sizing: border-box;
            border: 1px solid #666;
            padding: 15px;
            @include max-screen($break_point_pc) {
              display: block;
              width:100%;
            }
          }
        }
      }

    }

  }

  .sec-second{
    background:  url(../images/common/l-page_gray@2x.png),#000;
    background-size:cover;

    .l-container{
      font-size:0;
      letter-spacing: 0;
      padding:45px 0 65px 0;
      @include max-screen($break_point_pc) {
        padding:45px 4% 65px 4%;
      }


      h3{
        font-size:25px;
        text-align: center;
        margin-bottom: 25px;
        letter-spacing: 2px;
        color: #FFF;
      }

      .gmap {
  position: relative;
  width: 100%;
  padding-top: 45%;
  @include max-screen($break_point_pc) {
  padding-top: 75%;
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
  }
}


}
}
}
