.company,.iso,.kmn,.access_map,.links{

  &-info{
    &_header{
      //margin-bottom: 40px;
      @include min-screen($break_point_pc) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-description{
        font-size: 15px;
        font-weight: 500;
        @include min-screen($break_point_pc) {
        width: 60%;
        }
      }
      &_pdf{
        background-color: $lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        @include min-screen($break_point_pc) {
          width: 35%;
          margin-top: 0px;
        }
        .btn{
          height: 40px;
        }
      }
      h2{
        ///width: 100%;
        font-size: 34px;
        padding: 12px 38px;
        margin-left: 16px;
        margin-bottom: 40px;
        border-left: 8px solid $red;
        position: relative;
        transform: skewX(-20deg);
        @include max-screen($break_point_pc) {
        line-height: 1.3;
        font-size: 28px;
      }
      &::after{
        position: absolute;
        content: "";
        left: 0;
        display: block;
        height: 100%;
        width: 8px;
        background: #F2F2F2;
        top:0;
      }
      span{
        display: block;
        transform: skewX(20deg);
      }
      }
    }

    &_content {
      h3 {
        font-size: 21px;
        //border-bottom: solid 3px $gray;
        position: relative;
        margin: 40px 0px 30px 0px;
        padding: 10px 0px;
        font-weight: bold;
        @include min-screen($break_point_pc) {
          font-size: 25px;
        }
        &:after {
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 5px $red;
          bottom: -3px;
          width: 135px;
          z-index: 2;
          transform: skewX(-40deg);
        }
        &:before{
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 5px $gray;
          bottom: -3px;
          width: 100%;
          z-index: 1;
          transform: skewX(-40deg);
        }
      }

      p {
        margin: 10px 0;
        font-size: 15px;
        font-weight: 500;
      }
      &_col{
        @include min-screen($break_point_pc) {
          display: flex;
        }
        img{
          //float: left;
          @include min-screen($break_point_pc) {
          align-self: flex-start;
          //margin: 0px 15px 15px 15px;
          margin-right: 35px;
          }
        }
        p{
          //float: right;
          @include min-screen($break_point_pc) {
            margin-top: 0px;
          }
          span.small{
            font-weight: normal;
            font-size: 0.8em;
          }
        }
      }

      table{
        @include min-screen($break_point_pc) {
        width: 100%;
      }
      width: 100%;
        margin: 0 auto;
        tr{
          font-size: 14px;
          th{
            background: #F4F7FB;
            border:1px solid #E8E8E8;
            width: 20%;
            font-weight: bold;
            padding: 11px 0;
            vertical-align: top;
            vertical-align: middle;
            @include max-screen($break_point_pc) {
              display: block;
              border: none;
              width: 100%;
              text-align: left;
              padding-left: 25px;
            }
          }
          td{
            background: #fff;
            border:1px solid #E8E8E8;
            text-align: left;
            padding: 11px 25px;
            @include max-screen($break_point_pc) {
              display: block;
              border: none;
              margin-bottom: 15px;
            }
          }
        }
      }
      ul{
        padding-left: 20px;
        li{
        list-style: disc;
      }
      }
      ol{
        padding-left: 22px;
        li{
          font-weight: bold;
          margin-bottom: 15px;
          &:before{
            top: 2px;
left: -7px;
          }
          h4{
            font-size: 16px;
          }
        }
      }
    }

  }

}

///company_info
.company_info{
  .sec-content{
  .l-container{
    padding:0;
    width:960px;
    margin:0 auto;
    @include max-screen($break_point_pc) {
      width:100%;
    }
  }
}
.small{
  font-size:0.8em;
}
.company-info_header{
  margin-bottom: 40px;
  h2{
    margin-bottom: 0;
  }
}
}


///ISO9001

.iso9001_quality{
  .frame01{
    text-align: center;
    background: #ebebeb;
    padding: 15px;
    margin-top: 30px;
    border:1px dotted #d1d1d1;
    box-sizing: border-box;
    @include min-screen($break_point_pc) {
      padding: 15px 0;
    }
    h4{
      font-size: 24px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      position: relative;
      &::after{
        content: "";
        display: block;
        position: absolute;
        bottom:0;
        right: 0;
        left: 0;
        margin: auto;
        height: 2px;
        width: 60px;
        background: $red;

      }
    }
    p{
      font-weight: normal;
    }
  }
}

///kamata_meisters_network

.kamata_meisters_network{
  .kmn-info_header{
    img{
      display: block;
      margin: 15px auto;
    }
  }
  .kmn-info_header-description{
    width: 100%;
  }
}

///access
.access_map{
  &-info_header{
    margin-bottom: 40px;
    h2{
      margin-bottom: 0;
    }
  }
  .gmap{
    iframe{
      width: 100%;
      @include max-screen($break_point_pc) {
        height:250px;
      }
    }
  }
}

//links

.links{
  table.link{
    tr{
      td{
        &.banner{
        width: 35%;
        @include max-screen($break_point_pc) {
          width: 100%;
          margin-bottom: 0;
          padding: 15px 10px;
        }
      }
      &.text{
        word-break: break-all;
      @include max-screen($break_point_pc) {
        width: 100%;
        background: #F7F7F7;
      }
    }

      }
    }
  }
}


.red{
  color:$red;
}
