/*=========================
CONTACT
==========================*/
.contact{

  &_header{
    //margin-bottom: 40px;
    @include min-screen($break_point_pc) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &-description{
      font-size: 15px;
      font-weight: 500;
      @include min-screen($break_point_pc) {
      width: 60%;
      }
    }
    &_pdf{
      background-color: $lightgray;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin-top: 20px;
      @include min-screen($break_point_pc) {
        width: 35%;
        margin-top: 0px;
      }
      .btn{
        height: 40px;
      }
    }
    h2{
      ///width: 100%;
      font-size: 34px;
      padding: 12px 38px;
      margin-left: 16px;
      margin-bottom: 40px;
      border-left: 8px solid $red;
      position: relative;
      transform: skewX(-20deg);
      @include max-screen($break_point_pc) {
      line-height: 1.3;
      font-size: 28px;
    }
    &::after{
      position: absolute;
      content: "";
      left: 0;
      display: block;
      height: 100%;
      width: 8px;
      background: #F2F2F2;
      top:0;
    }
    span{
      display: block;
      transform: skewX(20deg);
    }
    }
  }


}

.contact .block--contents--table{
  dl{
    display: block;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    border-bottom: 1px solid $gray;

    @include min-screen($break_point_min) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }

    &:last-of-type{
      border-bottom: none;
    }
  }
  dt{
    margin-bottom: 5px;
  @include min-screen($break_point_min) {
    width: 30%;
    margin-bottom: 0;
  }
}
dd{
  @include min-screen($break_point_min) {
    width: 70%;
  }
  input,textarea{
    font-size: 16px;
    padding: 5px;
  }
  textarea{
    height: 280px;
  }
  p.attention{
    font-size: 10px;
    font-weight: normal;
  }
}
}

.submitbtn{
  width: 220px;
  border:1px solid $red;
  padding: 5px 0;
  margin: 0 auto;
  color: $red;
  border-radius: 5px;
  input{
    background: transparent;
    color: $red!important;
  }
  &:hover{
    background: $red;
    input{
      color: $white!important;
    }
  }
}


.p-contact__privacy {

  margin: 20px 0;
  padding: 12px;
  font-size: 15px;
  color: $brown;
  @include min-screen($break_point_min) {
    margin: 30px 0;
  }
  h4{
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 15px;
  }
}

.p-contact__btn {
  text-align: center;
  @include min-screen($break_point_min) {
    margin-top: 50px;
  }

  input[type="reset"],input[type="submit"] {
    width: 60%;
    margin: 0 auto 10px;
    border-radius: 15px;
    color: $white;
    font-weight: bold;
    font-size: 18px;
    @include min-screen($break_point_min) {
      display: inline-block;
      width: 154px;
      margin-right: 10px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.p-contact__check{
  display: none;

  &--parts{
    padding-left: 20px;
    position:relative;
    margin-right: 20px;

      &:hover {
      cursor: pointer;
    }

    &::before{
      content: "";
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #999;
      border-radius: 4px;
    }
  }
}
.p-contact__check:checked + .p-contact__check--parts{
  color: $blue;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid $blue;
    border-right: 3px solid $blue;
  }
}

.contact {
  @include min-screen($break_point_min) {
  input[type="text"] {
    width: 300px;
  }

  input.full-width, textarea {
      width: 100%;
    }
  }
}

input::placeholder {
  color: #aaa;
  font-weight: lighter;
  font-size:0.9em;
}

.p-contact__btn {
  .js-submit {
    &:disabled {
      background-color: $gray;
      &:hover {
        opacity: 1;
      }
    }

  }
}

textarea{
  @include max-screen($break_point_min) {
    min-height: 250px;
  }
}

.privacypolicy_sec{
  background-color: #f6f6f6;
  margin-top: 60px;
  padding-top:20px;
  padding-bottom: 40px;
}

.contact{
  .page-content--formcheck{

  }
}



/*=========================
CONTACT
==========================*/
.thanks{
  .page-content{
    text-align: center;
    padding-bottom: 65px;
    .pege-first_txt{
      p{
      margin-top: 40px;
        margin-bottom: 20px;
      }
      a{
        text-align: center;
        text-decoration: none;
      }
    }
  }

}
