/* ====================
 mainvisual
=======================*/
.mainvisual {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  @include max-screen($break_point_pc) {
    height: 300px;
  }
.l-container{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 0px;
}
  .mv-text {
    @include clearfix;
    width: 600px;
    text-align: right;
    padding-bottom: 12px;
    @include max-screen($break_point_pc) {
      width: 100%;
      padding: 10px;
    }
    &_inner{
      width: 100%;
      text-align: left;
      padding-left: 100px;
      @include max-screen($break_point_pc) {
        padding-left: 0px;
      }
    }
    h1 {
     color: $white;
     font-size: 30px;
    text-shadow: 0 0 6px black;
     @include max-screen($break_point_pc) {
       font-size: 22px;
     }
    }
    p{
      font-weight: normal;
      font-size: 17px;
      line-height: 30px;
      color: $white;
      @include max-screen($break_point_pc) {
        margin-top: 5px;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }

}

.home{
  .js-slider{
    height: 400px;
    @include max-screen($break_point_pc) {
      height: 300px;
    }
      li{
        @include max-screen($break_point_pc) {
          height: 300px;
        }
        img{
          width: 100%;
          @include max-screen($break_point_pc) {
            height: 300px;
            width: auto;
            max-width: inherit;
          }
        }
    }
  }
  .bx-viewport{
    @include max-screen($break_point_pc) {
      height: 300px !important;
    }
  }
}



.home{

  .index-section__lineup {
    background: #efefef url(../images/common/l-page_black_op@2x.png) center top no-repeat;
    background-size: 150% 100%;
    .index-lineup {
      margin-bottom: 40px;
      @include flexbox;
      justify-content:center !important;
      > li {
        width: 100%;
        background-color: $white;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 9px #ddd;
        margin: 15px 0px;
        @include min-screen($break_point_pc) {
          width: calc(33% - 30px);
          height: 355px;
          margin: 15px;
          border-right:solid 1px $lightgray;
        }
        a {
          color: $black;
          font-size: 15px;
          text-decoration: none;
          text-align: center;
          img{
            width: 65%;
            margin: 30px 0px;
          }
          &:hover {
            img {
              opacity: 0.8;
            }
          }
        }
        figure {
          margin: 0;
          figcaption {
            margin: 20px;
            position: relative;
            font-weight: bold;
            &::after {
              font-family: "Font Awesome 5 Free";
              content: "\f054";
              color: $red;
              font-weight: bold;
              display: block;
              position: absolute;
              top: 0;
              right: -10px;
              //color: $blue2;
            }
          }
        }
      }
    }

  }

  .index-section__news_info{
    background-color: $lightgray;
    &_container{
      @include clearfix;
    }
    &_newsbox{
      border:solid 1px $gray;
      border-radius: 20px;
      padding: 40px 30px;
      background-color: $white;
      @include min-screen($break_point_pc) {
        width: 70%;
        float: left;
      }
    }
    &_infobox{
      margin-top: 30px;
      @include min-screen($break_point_pc) {
        width: 28%;
        float: right;
        margin-left: 2%;
        margin-top: 0px;
      }
      &_inner{
        background-color: $white;
        border:solid 1px $gray;
        border-radius: 0px 0px 20px 20px;
        border-top: solid 6px $red;
        padding: 0px 30px 40px 30px;
        @include max-screen($break_point_pc) {
          text-align: center;
        }
        h2{
          i{
            color: $red;
            margin-right: 5px;
          }
        }
        img{
          width: 150px;
          display: block;
          margin: auto;
          margin-bottom: 15px;
          margin-top: 15px;
        }
      }
      &_bnr{
        margin-top: 30px;
        @include min-screen($break_point_pc) {
          margin-top: 0px
        }
        li{
          text-align: center;
          margin: 10px 0px;
          img{
            @include max-screen($break_point_pc) {
              width: auto;
            }
          }
        }
      }
    }
  }
  .l-footer{
    margin-top: 0px;
  }
}
