/* ====================
 privacy
=======================*/
.privacy{
  .page-header{
    background-image: url(../images/privacy/privacy_header@2x.png);
  }

  .privacy-txt {
    @include min-screen($break_point_pc) {
      text-align: center;
    }
  }

  .sec-policy {
    margin-top: 40px;
  }
  .policy-list {
    padding-left: 1.5em;
    @include min-screen($break_point_min) {
      width: 840px;
      margin: 0 auto;
    }
    > li {
      margin-top: 15px;
      position: relative;
      @include min-screen($break_point_min) {
        margin-top: 30px;
      }
      &::before {
        position: absolute;
        top: 0px;
        left: 0;
        font-size: 13px;
        @include min-screen($break_point_min) {
          font-size: 15px;
        }
      }
      h3 {
        margin-bottom: 5px;
        font-size: 13px;
        @include min-screen($break_point_min) {
          font-size: 15px;
        }
      }
      p {
        font-size: 13px;
        @include min-screen($break_point_min) {
          font-size: 15px;
        }
      }
    }
  }

}
