/* ====================
 products
=======================*/
.products {
  .l-main {


    .sec-content__inner {
      .pdlist {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-img{
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 150px;
          @include max-screen($break_point_pc) {
            height: 16vw;
          }
          img{
            width: 130% !important;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
        li{
          width: calc(50% - 15px);
          margin-bottom: 20px;
          border:solid 1px $gray;
          border-radius: 15px;
          overflow: hidden;
          background-color: #efefef;
          @include max-screen($break_point_pc) {
            margin-bottom: 10px;
            width: calc(50% - 7px);
          }
        .pdlist-inner {
          text-align: left;
          background-color: #efefef;
          padding: 20px 6px;
          border-top:solid 1px $gray;
          display: flex;
          justify-content: center;
          align-items: center;
          //background: #efefef url(../images/common/l-page_black_op@2x.png) center top no-repeat;
          //background-size: 150% 100%;
          background-color: #efefef;
          min-height: 120px;
          @include max-screen($break_point_pc) {
            //width: calc(50% - 30px);
            min-height: auto;
            height: calc(100% - 16vw);
            font-size: 14px;
            padding: 12px 6px;
          }
          h3 {
            text-align: center;
            margin-top: 0;
            font-size: 17px;
            @include max-screen($break_point_pc) {
              font-size: 13px;
            }
          }

          .btn {
            margin-top: 10px;
              @include max-screen($break_point_pc) {
                width: 100px;
              }
          }



        }
       }

        .pdlist_2pix {
          @include clearfix;
          padding: 15px 0;

          img {
            width: 48%;
            margin: 1%;
            float: left;
          }
        }
      }

      &-description {
        margin-bottom: 20px;
      }
    }
  }

  &-single {
    &_header{
      @include min-screen($break_point_pc) {
        display: flex;
        justify-content: space-between;
      }
      &-description{
        @include min-screen($break_point_pc) {
        width: 60%;
        }
      }
      &_pdf{
        background-color: $lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        @include min-screen($break_point_pc) {
          width: 35%;
          margin-top: 0px;
        }
        .btn{
          height: 40px;
        }
      }
    }
    &_content {
      h3 {
        font-size: 20px;
        border-bottom: solid 3px $gray;
        position: relative;
        margin: 40px 0px 30px 0px;
        padding: 10px 0px;
        font-weight: bold;
        &:after {
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 3px $red;
          bottom: -3px;
          width: 20%;
        }
      }

      p {
        margin: 10px 0;
      }
      &_col{
        @include min-screen($break_point_pc) {
          display: flex;
        }
        img{
          //float: left;
          @include min-screen($break_point_pc) {
          align-self: flex-start;
          margin: 0px 15px 15px 15px;
          }
        }
        p{
          //float: right;
          @include min-screen($break_point_pc) {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
