/* ====================
 products
=======================*/
.products {
  .l-main {


    .sec-content__inner {
      .pdlist {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-img{
          position: relative;
          overflow: hidden;
          width: 100%;
          //height: 150px;
          @include max-screen($break_point_pc) {
            //height: 16vw;
          }
          img{
            //width: 130% !important;
            //position: absolute;
            //top: 50%;
            //left: 50%;
            //-webkit-transform: translate(-50%, -50%);
            //-ms-transform: translate(-50%, -50%);
            //transform: translate(-50%, -50%);
            transition: 0.4s;
          }
        }
        li{
          width: calc(50% - 15px);
          margin-bottom: 30px;
          border-radius: 15px;
          overflow: hidden;
          background-color: #efefef;
          position: relative;
          transition: 0.4s;
          @include max-screen($break_point_pc) {
            //margin-bottom: 10px;
            //width: calc(100% - 7px);
            width: 100%;
          }
          &:hover .pdlist-img img{
            //opacity: 0.8;
              transform: scale(1.2);
              transition: 0.4s;
          }

          a{
            &:hover{
              opacity: 1;
            }
          }

        .pdlist-inner {
          position: absolute;
          bottom: 0;
          text-align: right;
          background-color: #EDEDED;
          border-top: 7px solid rgba(255, 0, 0, 0.7);
          box-sizing: border-box;
          background-clip: padding-box;
          width: 100%;
          //padding: 20px 0 30px;
          height: 90px;
          //border-top:solid 1px $gray;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          //background: #efefef url(../images/common/l-page_black_op@2x.png) center top no-repeat;
          //background-size: 150% 100%;
          background-color: #efefef;
          //min-height: 120px;
          @include max-screen($break_point_pc) {
            //width: calc(50% - 30px);
            min-height: auto;
            //height: calc(100% - 16vw);
            //font-size: 14px;
            //padding: 12px 6px;
          }
          h3 {
            text-align: left;
            margin-top: 0;
            font-size: 18px;
            @include max-screen($break_point_pc) {
              //font-size: 13px;
            }

            span{
              position: relative;
              line-height: 1.4;
              display: inline-block;
              margin-right: 35px;
              padding-right: 15px;
              color: $red;
              &:after{
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 7px;
                border-color: transparent transparent transparent #FF0000;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -10px;
                margin: auto;
              }
              &:before{
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                bottom: -10px;
                left: 0;
                position: absolute;
                background: #FF0000;
              }
            }
          }

          .btn {
            margin-top: 10px;
              @include max-screen($break_point_pc) {
                width: 100px;
              }
          }



        }
       }

        .pdlist_2pix {
          @include clearfix;
          padding: 15px 0;

          img {
            width: 48%;
            margin: 1%;
            float: left;
          }
        }
      }

      &-description {
        margin-bottom: 20px;
      }
    }
  }

  &-single {
    &_header{
      @include min-screen($break_point_pc) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &-description{
        font-size: 15px;
        font-weight: 500;
        @include min-screen($break_point_pc) {
        width: 60%;
        }
      }
      &_pdf{
        background-color: #fafafa;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
        @include min-screen($break_point_pc) {
          width: 35%;
          margin-top: 0px;
        }
        .btn{
          height: 40px;
        }
      }
      h2{
        width: 100%;
        font-size: 34px;
        padding: 9px 38px;
        margin-left: 16px;
        margin-bottom: 40px;
        border-left: 8px solid $red;
        position: relative;
        transform: skewX(-20deg);
        @include max-screen($break_point_pc) {
        line-height: 1.3;
        font-size: 25px;
      }
      &::after{
        position: absolute;
        content: "";
        left: 0;
        display: block;
        height: 100%;
        width: 8px;
        background: #F2F2F2;
        top:0;
      }
      span{
        display: block;
        transform: skewX(20deg);
      }
      }
    }
    &_content {
      h3 {
        font-size: 21px;
        //border-bottom: solid 3px $gray;
        position: relative;
        margin: 40px 0px 30px 0px;
        padding: 10px 0px;
        font-weight: bold;
        @include min-screen($break_point_pc) {
          font-size: 25px;
        }
        &:after {
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 5px $red;
          bottom: -3px;
          width: 135px;
          z-index: 2;
          transform: skewX(-40deg);
        }
        &:before{
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 5px $gray;
          bottom: -3px;
          width: 100%;
          z-index: 1;
          transform: skewX(-40deg);
        }
      }

      p {
        margin: 10px 0;
        font-size: 15px;
        font-weight: 500;
      }
      &_col{
        @include min-screen($break_point_pc) {
          display: flex;
        }
        img{
          //float: left;
          @include min-screen($break_point_pc) {
          align-self: flex-start;
          //margin: 0px 15px 15px 15px;
          margin-right: 35px;
          margin-bottom: 35px;
          }
        }
        p{
          //float: right;
          @include min-screen($break_point_pc) {
            margin-top: 0px;
          }
          span.small{
            font-weight: normal;
            font-size: 0.8em;
          }
        }
      }
    }

    .caption{
      font-weight: normal;
      font-size: 12px;
      margin-bottom: 25px;
      @include min-screen($break_point_pc) {
      margin-top: -32px;
    }
    }

    table.comparison{
      table-layout: auto;
      margin-top: 20px;
      tr{
        @include max-screen($break_point_pc) {
          display: flex;
          flex-wrap: wrap;
        }
        th{
          border:1px solid #E8E8E8;
          padding: 10px 0;
          background: #F4F7FB;
          font-weight: bold;
          @include max-screen($break_point_pc) {
            display: inline-block;
            width: 50%;
          }
          &:first-child{
              border:none;
              background: transparent;
              @include max-screen($break_point_pc) {
                display: none;
              }
          }
        }
        td{
          border:1px solid #E8E8E8;
          padding: 10px 15px;
          text-align: left;
          @include min-screen($break_point_pc) {
          width: 40%;
          }
          @include max-screen($break_point_pc) {
            display: inline-block;
            width: 50%;
          }
          &:first-child{
              width: 20%;
              font-weight: bold;
              @include max-screen($break_point_pc) {
                display: block;
                width: 100%;
                //background: #F4F7FB;
                text-align: center;
              }
          }
        }

      }
    }
  }

  &.jigs{
    .products-single_content_col{
      margin-bottom: 20px;
    }
  }
  &.centerless_grinding{
    table.comparison{
      tr{
        td{
          &:first-child{
              @include max-screen($break_point_pc) {
                width: 50%;
                text-align: left;
              }
          }
        }
        th{
          &:first-child{
                border: 1px solid #E8E8E8;
              background: #F4F7FB;
              @include max-screen($break_point_pc) {
                display: block;
              }
          }
        }
      }
    }
  }
}
