$break_point_320: 320px;
<<<<<<< HEAD
$break_point_min: 736px;
$break_point_max: 735px;
$break_point_600: 600px;
$break_point_980: 980px;
$break_point_pc: 800px;
$break_point_1440: 1440px;

$content_width: 1040px;
=======
$break_point_min: 768px;
$break_point_max: 735px;
$break_point_pc: 735px;
$break_point_960: 960px;
$break_point_530: 530px;
$break_point_1440: 1440px;

$content_width: 1020px;
>>>>>>> 2c665a48f2908cebd5e258cb837d7b6e90944300
$content_padding: 20px;
$content_padding_sp: 7px;

$content_width_sp_inner: 76%;
