$break_point_320: 320px;
$break_point_min: 736px;
$break_point_max: 735px;
$break_point_600: 600px;
$break_point_980: 980px;
$break_point_pc: 800px;
$break_point_1440: 1440px;

$content_width: 1040px;
$content_padding: 20px;
$content_padding_sp: 7px;

$content_width_sp_inner: 76%;
