<<<<<<< HEAD
$font__main: 'Libre Baskerville',"游明朝", "Yu Mincho",YuMincho, "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
=======
$font__main: 'Noto Sans JP', sans-serif;
>>>>>>> 2c665a48f2908cebd5e258cb837d7b6e90944300
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.4;
$font__spacing: .005em;
$helvetica: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$helveticaMedium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

<<<<<<< HEAD
$sans-serif: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック","MS PGothic",arial,Sans-Serif;
$serif: 'Libre Baskerville',"游明朝", "Yu Mincho",YuMincho, "游明朝体", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", serif;
$times: 'Times New Roman';
@font-face {
  font-family: "CONDENSEicon";
  src: url(../fonts/CONDENSEicon.eot) format("eot"), url(../fonts/CONDENSEicon.woff) format("woff"), url(../fonts/CONDENSEicon.ttf) format("truetype"), url(../fonts/CONDENSEicon.otf) format("opentype");
}


$webfont: 'Prompt', sans-serif;
=======
$sans-serif: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
$serif: 'Noto Serif JP', serif;
$times: 'Times New Roman';


>>>>>>> 2c665a48f2908cebd5e258cb837d7b6e90944300
$montserrat: 'Montserrat',sans-serif;
