$font__main: 'Noto Sans JP', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.4;
$font__spacing: .005em;
$helvetica: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$helveticaMedium: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$sans-serif: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
$serif: 'Noto Serif JP', serif;
$times: 'Times New Roman';


$montserrat: 'Montserrat',sans-serif;
