<%-
  include('../common/_head', {
    page: json['access_map']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        ACCESS MAP
        <span>
          アクセスマップ
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

<% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <div class="l-main_inner">
      <section class="sec-inner_content">
        <div class="access_map-info_header">
          <h2><span>アクセスマップ</span></h2>
          <div class="access_map-info_header_pdf">
          <a class="btn" href="/pdf/accessmap.pdf" target="_blank"><i class="fas fa-file-pdf"></i>PDFダウンロード</a>
          </div>
        </div>

        <div class="gmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.2628139704207!2d139.70360781513898!3d35.547210944917985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60186089525d09b9%3A0xd8647da096bbaf8b!2z44CSMTQ0LTAwNTYg5p2x5Lqs6YO95aSn55Sw5Yy66KW_5YWt6YO377yT5LiB55uu77yW4oiS77yW!5e0!3m2!1sja!2sjp!4v1628052782000!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <p>分かりにくい場合は、どうぞご遠慮なく03-3733-1690までお電話ください。</p>
        </div>

        <div class="sec-content__inner company-info_content">
          <h3>JR「蒲田駅」から東急バスで（所要時間約25分）</h3>

            <ol>
              <li>
                <p>JR「蒲田駅」西口より、東急バス「蒲01」（六郷土手行き）に乗車。（運賃210円：乗車時間約20分程度）</p>
              </li>

              <li>
                <p>「西六郷三丁目」で下車。</p>
              </li>

              <li>
                <p>進行方向で最初の交差点「高畑児童館」を右折。（右手前角に「八代歯科」）</p>
              </li>

              <li>
                <p>左奥角に公園がある交差点を右折。</p>
              </li>

              <li>
                <p>約30mほど直進すると、左手にエムワン精工がございます。（バス停から徒歩約3分）</p>
              </li>
            </ol>

            <h3>京浜急行「六郷土手駅」から徒歩で（所要時間約10分）</h3>

              <ol>
                <li>
                  <p>京浜急行「六郷土手駅」の改札を出て、正面の道路を左へ。（直後にセブンイレブンが左手にある）</p>
                </li>

                <li>
                  <p>JR東海道線の高架下を通過して最初の信号を右折。（右奥角にマックスバリュ）</p>
                </li>

                <li>
                  <p>高畑小学校を通過し、交差点「高畑児童館」を左折。（左奥角に八代歯科）</p>
                </li>

                <li>
                  <p>左奥角に公園がある交差点を右折。</p>
                </li>

                <li>
                  <p>約30mほど直進すると、左手にエムワン精工がございます。（六郷土手駅から徒歩約10分）</p>
                </li>
              </ol>

      </section>
      </div>

      <% include ../common/_contact %>

    </main>
    <!-- / main -->

  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
