.u-ta-l { text-align: left !important; }
.u-ta-c { text-align: center !important; }
.u-ta-r { text-align: right !important; }
.u-ta-j { text-align: justify !important; -ms-text-justify: inter-ideograph !important; text-justify: inter-ideograph !important; }
