.u-bc-lightgray { background-color: $lightgray !important; }
.u-bc-blue { background-color: $blue !important; }

.u-bc-white {
  background-color: $white;
}

.u-bc--salmon {
  background-color: $salmon;
}
.u-bc--skyblue {
  background-color: $skyblue;
}
