</div><!-- /contents -->

<p class="pagetop"><a href="#"><span>Page Top</span><i class="fas fa-angle-up fa-3x"></i></a></p>
<footer id="footer">

<div class="inner cf">
  <div class="footer-left cf">
    <p class="footer-logo"><img src="/images/footer/footer_logo.png" alt="HINODE"></p>
    <!-- <p class="footer-standard"><img src="/images/footer/footer_standard.png" alt=""></p> -->
  </div>
  <div class="footer-right">
    <p class="footer-privacy"> 〉 <a href="#">プライバシーポリシー</a></p>
    <p class="footer-attention">サイト内の一部の写真や図はイメージ画像となります</p>
    <small class="copy">Copyright(C)2003-2010 M1 Seiko Co., Ltd. All Rights Reserved.</small>
  </div>
</div><!--/ inner -->

</footer><!-- /footer -->

</div><!-- /wrapper -->

</body>
</html>