/*=========================
common lower page header
==========================*/

.page__header {
  background-image: url(../images/common/bg_common_header.jpg);
}

header#header{
  background: rgba(59,121,178,0.85);
  position: fixed;
  width: 100%;
  .inner{
    //min-width: 1400px;
    margin: 0 auto;
    padding: 0;
  }

  #gnav{
    a{
      color: $white;
      text-decoration: none;
    }
  }
}
