
.gnav-btn {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  //position: fixed;
  top: 20px;
  right: 20px;
  //background-color: $white;
  z-index: 100;
  cursor: pointer;
  background: #FFF;
  @include min-screen($break_point_pc) {
    display: none;
  }
}

.gnav-btn__container {
  position: relative;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin-top: 5px;
  @include min-screen($break_point_pc) {

  }
}



.gnav-btn.close {
  .gnav-txt--close {
    display: inline-block;
  }
  .gnav-txt--menu {
    display: none;
  }
}

.gnav-btn__container {
  > span {
    position: absolute;
    width: 24px;
    height: 1px;
    left: 8px;
    display: block;
    background-color: #454545;
    transition: all .4s;
    border-radius: 10px;
  }
}


.gnav-btn__container > span:first-child {
  top: 9px;
}

.gnav-btn__container > span:nth-child(2) {
  top: 18px;
}

.gnav-btn__container > span:nth-child(3) {
  top: 28px;
}

.close .gnav-btn__container > span:nth-of-type(1) {
  top: 10px;
  background-color: $white;
  opacity: 0;
}
.close .gnav-btn__container > span:nth-of-type(2){
  transform: rotate(-45deg);
  top: 18px;
}
.close .gnav-btn__container > span:nth-of-type(3) {
    transform: rotate(45deg);
    top: 18px;
}

.gnav-txt__close {
  display: none;
}
.menu-open {
  .gnav-txt__close {
    display: block;
    color: $white;
  }
  .gnav-txt__open {
    display: none;
  }
}
