/*=========================
global-navigation
==========================*/

.g-nav-block{
width: 100%;
position: absolute;
z-index: 99;
  @include min-screen($break_point_pc) {
    position: relative;
    width: 820px;
  }
}

.globalnavi {
   display: none;
  @include min-screen($break_point_pc) {
    display:block;
    font-size: 16px;
    height: 100%;
  }
  @include max-screen($break_point_pc) {
  background: rgba(59, 121, 178, 0.85);
  height: 100vh;
  margin-top: 50px;
  background: rgba(255,255,255,0.95);
}
  .gnavi-list {
    padding-top: 60px;
    @include min-screen($break_point_pc) {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      height: 100%;
      padding-top: 0;
    //  @include clearfix;
    }
    > li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width:auto;
      padding: 0 20px;
      //margin-right: 30px;
      text-align: center;
      position: relative;

      @include max-screen($break_point_pc) {
        padding: 10px 0;
        font-size: 18px;
      }
      &:last-child{
        background: $red;
      	width: 215px;
      	margin-right: 0;
        @include max-screen($break_point_pc) {
          width: 100%;
          background: transparent;
        }
        a{
          background: $red;
          color: $white;
        }
      }
      //@include max-screen($break_point_980) {
      //  margin: 0 20px 0 0;
    //    padding: 9px 0px;
    //  }
    //  &.gnavi-list__home {
    //    @include min-screen($break_point_pc) {
    //      display: none;
    //    }
    //  }
      a {
        display: flex;
        align-items: center;
        width: 100%;
        line-height: 1;
        font-weight: bold;
        height: 100%;
        text-decoration: none;
        color: $black;
        width: 60%;
        margin: 0 auto;
        padding: 20px 0;
        @include min-screen($break_point_pc) {
          color: $white;
          width: 100%;
        }
        &::after{
          @include min-screen($break_point_pc) {
          content: "";
        	width: 0%;
        	height: 5px;
        	background: #FF0000;
        	bottom: 0;
        	left: 0;
        	right: 0;
        	margin: auto;
        	position: absolute;
        	transform: skewX(-25deg);
        	transition: 0.5s;
        	opacity: 0.5;
        }
        }
        &:hover{
          text-decoration: none;
        	opacity: 1;
          &::after{
            width: 80%;
        		transition: 0.5s;
        		opacity: 1;
          }
        }
        p{
          display: block;
        	width: 100%;
          i{
            padding-right: 8px;
          }
        }
      }
      &:last-child>a::after{
      		background: #fff;
      }
    }
  }
}


.gnavi-list {
  > li {
    > a {
      position: relative;

    }
  }
}

//.menu-open{
//  .globalnavi{
//    height: 100vh;
//    ul{
//      height: 100vh;
//    }
//  }
//}
