/*=========================
global-navigation
==========================*/

.g-nav-block{
  display: inline-block;
  vertical-align: middle;
  width:100%;
  background-color: rgba(0,0,0,0.76);
  position: absolute;
  top:39px;
  @include min-screen($break_point_pc) {
    width:auto;
    background: transparent;
    position: absolute;
    top:20px;
    right: 0px;
  }
}

.globalnavi {
   display: none;
  @include min-screen($break_point_pc) {
    display: block;
  }
  .gnavi-list {
    margin-top: 0px;
    text-align: center;
    padding: 20px 0px;
    @include min-screen($break_point_pc) {
      margin-top: -26px;
      @include clearfix;
    }
    > li {
      width: 100%;
      padding-bottom: 20px;
      text-align: center;
      display: inline-block;
<<<<<<< HEAD
=======
      border-bottom: solid 1px #ddd;
      background: #ddd;
>>>>>>> 2c665a48f2908cebd5e258cb837d7b6e90944300
      @include min-screen($break_point_pc) {
        width: auto;
        padding-bottom: 0px;
        border-bottom: none;
        transform: translateX(10px);
        text-align: left;
        border-left: solid 1px $white;
        padding: 5px 20px 5px 20px;
      }
<<<<<<< HEAD

=======
      //@include max-screen($break_point_980) {
      //  margin: 0 20px 0 0;
    //    padding: 9px 0px;
    //  }
>>>>>>> 2c665a48f2908cebd5e258cb837d7b6e90944300
      &.gnavi-list__home {
        @include min-screen($break_point_pc) {
          display: none;
        }
      }
      a {
        text-align: left;
        color: $white !important;
        text-decoration: none;
        font-size: 16px;
        line-height: 17px;
        font-weight: bold;
        position: relative;
      }
    }
  }
}


.gnavi-list {
  > li {
    > a {
      position: relative;

    }
  }
}
