
/*=========================
common header
==========================*/

@media screen and (min-width: 979px){

  .site-logo {
      float: left;
      position: relative;
      //width: 120px;
      // top: 35px;
  }
  .inner{
    display: flex;
  }
}
