.l-sidebar{
  //margin-bottom: 30px;
  //width: 90%;
  margin: 0 auto 40px auto;
  @include min-screen($break_point_min) {
    width: 310px;
    float: left;
    margin-bottom: 160px;
  }
  h3 {
    background-color: #EEF3F9;
    font-size: 24px;
    position: relative;
    color: $red;
    padding:25px 17px;
    //font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    @include min-screen($break_point_min) {
      border-radius: 20px 20px 0 0;
    }
    &.blog-menu{
      padding: 0;
      margin-top: 30px;
    }

    span{
      display: block;
      font-size:14px;
      color: $black;
      font-weight: bold;
    }

    a {
      position: relative;
      display: block;
      color: $white;
    }
  }
  .side_lineup {
    font-size: 16px;
    background-color: $white;
    margin-bottom: 38px;
    @include min-screen($break_point_min) {
      //box-shadow: 0px 1px 11px -1px rgba($black, 0.2);
      margin-bottom: 38px;
    }
    > li {
      border-bottom: 1px solid #E0E8F2;
      a {
        position: relative;
        display: block;
        padding: 20px 26px;
        color: $red;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        &::after {
          //font-family: "Font Awesome 5 Free";
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: 37px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5.5px 0 5.5px 10px;
          border-color: transparent transparent transparent $red;

        }
      }
    }
    &.blog-menu-list{
      a{
        color: #333333;
        text-decoration: underline;

        span.new{
          &::after{
            content:"NEW";
            font-weight: bold;
            background: $red;
            font-size: 11px;
            color: $white;
            padding:0 9px 2px 9px;
            border-radius: 30px;
            position: absolute;
            display: inline-block;
            height: 20px;
            top:0;
            bottom:0;
            margin: auto;
            margin-left: 12px;
          }
        }
      }
    }
  }
  &_sp_open{
    display: none;
    @include max-screen($break_point_min) {
      display: block;
      text-align: center;
      padding: 15px 0px;
      background-color: #e22b00;
      color: $white;
      font-weight: bold;
      font-size: 16px;
      border-radius: 10px;
    }
    i{
      margin-right: 10px;
    }
  }
  .is_open{
    border-radius: 10px 10px 0 0;
  }
  &_inner{
    @include max-screen($break_point_min) {
      height: 0px;
      overflow: hidden;
      transition: .3s;
    }
    &_open{
      @include max-screen($break_point_min) {
        height: auto;
        //border:solid 1px $gray;
        //border-top: none;
      }
    }
  }
  &_infobox{
    @include max-screen($break_point_pc) {
      display: none;
    }
    &_inner{
      background-color: $white;
      border-radius: 0px 0px 20px 20px;
      border-top: solid 6px $red;
      padding: 0px 30px 40px 30px;
      //box-shadow: 0px 1px 11px -1px rgba($black, 0.2);
      h2{
        i{
          color: $red;
          margin-right: 5px;
        }
      }
      img{
        width: 150px;
        display: block;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
    &_bnr{
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li{
        text-align: center;
        height: 80px;
        img{
          height: 100%;
          width: auto;
        }
      }
    }
  }

  .side_operation{
    background: #1A1A1A;
    text-align: center;
    border-radius: 17px;
    padding: 13px 0 20px 0;
    margin-bottom: 38px;
    a{
      text-decoration: none;
      color: #00E9FF;
    }
    h3{
      background: transparent;
      color: #00E9FF;
      font-size: 26px;
      padding: 0;
      font-weight: bold;
      margin-bottom: 10px;
    }
    img{
      width: 150px;
    }
    p{
      font-size: 17px;
      font-weight: bold;
      &.operation_percent{
        font-size: 16px;
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }
  }
}

.side_active{
  background-color: $red;
  a{
    color: $white !important;
    &::before {
      color: $white !important;
    }
  }
}
