html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: border-box;
}

body {
	background: $white; /* Fallback for when there is no custom background color defined. */
	//padding-top: 50px;
	@include min-screen($break_point_pc) {
	  //padding-top: 80px;
  }
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
  display: inline-block;
	height: auto; /* Make sure images are scaled correctly. */
	// max-width: 100%; /* Adhere to container width. */
	width: 100%;
	vertical-align: middle;
	@include min-screen($break_point_pc) {
    width: auto;
  }
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}
