a {
	color: $color__link;
  text-decoration: underline;

	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
  &:hover {
    opacity: 0.8;
  }
}

.link_arrow {
	position: relative;
  &::before {
    content: "";
		display: inline-block;
		margin-right: 5px;
		width: 4px;
		height: 10px;
		background-image: url(../images/common/link_arrow@2x.png);
	  background-size: cover;
	  background-position: center;
  }
}

.link-arrow__left {
  &::before {
    content: "";
    display: inline-block;
		margin-right: 5px;
		width: 6px;
		height: 10px;
		background-image: url(../images/common/link_arrow@2x.png);
	  background-size: cover;
	  background-position: center;
    @include min-screen($break_point_min) {

    }
  }
}


.link--green {
	color: $green;
	&:visited {
		color: $green;
	}
}

.link--gold {
	color: $gold !important;
	font-weight: bold;
}
/* ========================
hoverで横線が出てくるやつ
==========================*/
.c-viewlinks {
  margin: 30px 0 0 0;
  text-align: center;
  @include min-screen($break_point_min) {

  }
}

.viewlinks {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
  font-size: 14px;
  @include min-screen($break_point_min) {
    font-size: 16px;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, #9ed9ed,#d592ff,#ff9993);
    position: absolute;
    left: -100%;
    bottom: 0;
    transition: all 0.2s ease;
  }
  &::after {
    margin-left: 10px;
  }
  &:hover {
    &::before {
      left: 0;
    }
  }
}

.js-hover {
	&:hover {
		opacity: 1;
	}
}
