

<!--<footer id="footer" class="l-footer">
  <div class="l-container">
    <div class="footer-menu_top">
    <div class="footer-menu_top_box">
      <a href="/"><img src="/images/common/logo.png" alt="エムワン精工"></a>
      <div class="footer-access">
      <p>サイト内の一部の写真や図はイメージ画像となります

Copyright(C)2003-2010 M1 Seiko Co., Ltd. All Rights Reserved.</p>
</div>
      </div>
      <ul class="footer-menu">
        <li>
          <a href="/">
            ホーム
          </a>
        </li>
        <li>
          <a href="/products/">
            製品情報
          </a>
        </li>
        <li>
          <a href="/">
            会社概要
          </a>
        </li>
        <li>
          <a href="/">
            お見積り
          </a>
        </li>
        <li>
          <a href="/">
            お問合せ
          </a>
        </li>
        <li>
          <a href="/">
            プライバシーポリシー
          </a>
        </li>
        <li>
          <a href="/">
            サイトマップ
          </a>
        </li>
      </ul>
    </div>


  </div>

</footer>-->

<footer id="footer">

<div class="footer_inner">

  <div class="footer-logo">
    <img src="/images/common/footerlogo.png" srcset="/images/common/footerlogo.png 1x, /images/common/footerlogo@2x.png 2x" alt="">
  </div>

  <div class="footer-nav">
     <ul>
       <li> <a href="/products/">製品情報</a></li>
       <li><a href="/company_info/">会社概要</a></li>
       <li><a href="#"><p>エムワンのものづくり</a></li>
       <li><a href="/recruit/">採用情報</a></li>
       <li><a href="/contact/">お問い合わせ</a></li>
       <li><a href="/contact/">リンク</a></li>
    </ul>
  </div>
</div><!--/ inner -->

<div class="footer-copy">
  <p>Copyright(C)2003-2021 M1 Seiko Co., Ltd. All Rights Reserved.</p>
</div>

</footer><!-- /footer -->

</div>
<!-- / l-wrapper -->

<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<script src="/js/script.min.js"></script>
<script src="/js/lightbox.js"></script>

</body>
</html>
