<div class="l-sidebar u-pc-hide">

  <div class="sp-menu">

  <div class="side_operation">
    <a href="#">
      <h3>稼働状況</h3>
      <img src="/images/common/operation_50.png" alt="50%">
      <p class="operation_percent">50%</p>
      <p>各加工の稼働状況をご案内します。</p>
    </a>
  </div>

  <h3>COMPANY<span>会社概要</span></h3>
  <ul class="side_lineup">
    <li><a href="/iso9001_quality/">品質/ISO</a></li>
    <li><a href="/kamata_meisters_network/">KMN</a></li>
    <li><a href="/access_map/">アクセス</a></li>
  </ul>

  <ul class="l-sidebar_infobox_bnr">
    <li><a href="#"><img src="/images/common/iso_banner.png" alt="ISO認証 afaQ UKAS"></a></li>
    <li><a href="#"><img src="/images/common/blog_banner.png" alt="職人切磋琢磨ブログ"></a></li>
  </ul>

  <h3 class="blog-menu"><img src="/images/common/header_blog.png" srcset="/images/common/header_blog.png 1x, /images/common/header_blog@2x.png 2x" alt="M1のものづくり当社の取り組み"></h3>
  <ul class="side_lineup blog-menu-list">
    <li><a href="#"><span class="new">揺れ止め治具</span></a></li>
    <li><a href="#"><span>高精度軸物加工</span></a></li>
    <li><a href="#"><span>ネジ研磨へのこだわり</span></a></li>
    <li><a href="#"><span>高精度測定装置</span></a></li>
    <li><a href="#"><span>職人 vs オートメーション</span></a></li>
    <li><a href="#"><span>テーパー嵌合のメリット</span></a></li>
    <li><a href="#"><span>ものづくりの要衝</span></a></li>
    <li><a href="#"><span>素材へのこだわり</span></a></li>
  </ul>

  <div class="l-sidebar_fb">
    <a href="#"><img src="/images/common/btn_fb.png" srcset="/images/common/btn_fb.png 1x, /images/common/btn_fb@2x.png 2x" alt="FACEBOOKエムワン精工Facebookはこちら"></a>
  </div>

  </div>
  </div>
</div>
