<div class="l-sidebar">
  <p class="l-sidebar_sp_open"><i class="fa fa-list-ul"></i>ページメニュー</p>
  <div class="l-sidebar_inner">
  <h3>PRODUCTS MENU<span>製品メニュー</span></h3>
  <ul class="side_lineup">
    <li><a href="/products/cylindrical_grinding/">円筒研削(円筒研磨)</a></li>
    <li><a href="/products/taper/">テーパ加工</a></li>
    <li><a href="/products/centerless_grinding/">センターレス研磨</a></li>
    <li><a href="/products/screws/">ネジ研削/研磨<br>(雌ネジ合わせ/ラッピング)</a></li>
    <li><a href="/products/female_screw/">雌ネジ加工</a></li>
    <li><a href="#">テーパー合わせ加工</a></li>
    <li><a href="#">ゲージ/測定治具</a></li>
  </ul>

  <div class="side_operation">
    <a href="#">
      <h3>稼働状況</h3>
      <img src="/images/common/operation_50.png" alt="50%">
      <p class="operation_percent">50%</p>
      <p>各加工の稼働状況をご案内します。</p>
    </a>
  </div>

  <h3>COMPANY<span>会社概要</span></h3>
  <ul class="side_lineup">
    <li><a href="/iso9001_quality/">品質/ISO</a></li>
    <li><a href="/kamata_meisters_network/">KMN</a></li>
    <li><a href="/recruit/">採用情報</a></li>
    <li><a href="/access_map/">アクセス</a></li>
  </ul>

  <ul class="l-sidebar_infobox_bnr">
    <li><a href="#"><img src="/images/common/iso_banner.png" alt="ISO認証 afaQ UKAS"></a></li>
    <li><a href="#"><img src="/images/common/blog_banner.png" alt="職人切磋琢磨ブログ"></a></li>
  </ul>

  <h3 class="blog-menu"><img src="/images/common/header_blog.png" srcset="/images/common/header_blog.png 1x, /images/common/header_blog@2x.png 2x" alt="M1のものづくり当社の取り組み"></h3>
  <ul class="side_lineup blog-menu-list">
    <li><a href="#">揺れ止め治具</a></li>
    <li><a href="#">高精度軸物加工</a></li>
    <li><a href="#">ネジ研磨へのこだわり</a></li>
    <li><a href="#">高精度測定装置</a></li>
    <li><a href="#">職人 vs オートメーション</a></li>
    <li><a href="#">テーパー嵌合のメリット</a></li>
    <li><a href="#">ものづくりの要衝</a></li>
    <li><a href="#">素材へのこだわり</a></li>
  </ul>

  <div class="l-sidebar_fb">
    <a href="#"><img src="/images/common/btn_fb.png" srcset="/images/common/btn_fb.png 1x, /images/common/btn_fb@2x.png 2x" alt="FACEBOOKエムワン精工Facebookはこちら"></a>
  </div>

  </div>
</div>
