<div class="l-sidebar">
  <p class="l-sidebar_sp_open"><i class="fa fa-list-ul"></i>ページメニュー</p>
  <div class="l-sidebar_inner">
  <h3>PRODUCTS MENU<span>製品メニュー</span></h3>
  <ul class="side_lineup">
    <li><a href="#">円筒研削(円筒研磨)</a></li>
    <li><a href="#">テーパ加工</a></li>
    <li><a href="#">センターレス研磨</a></li>
    <li><a href="#">ネジ研削/研磨<br>(雌ネジ合わせ/ラッピング)</a></li>
    <li><a href="#">雌ネジ加工</a></li>
    <li><a href="#">テーパー合わせ加工</a></li>
    <li><a href="#">ゲージ/測定治具</a></li>
  </ul>

  <div class="side_operation">
    <a href="#">
      <h3>稼働状況</h3>
      <img src="/images/common/operation_50.png" alt="50%">
      <p class="operation_percent">50%</p>
      <p>各加工の稼働状況をご案内します。</p>
    </a>
  </div>

  <h3>COMPANY<span>会社概要</span></h3>
  <ul class="side_lineup">
    <li><a href="#">品質/ISO</a></li>
    <li><a href="#">KMN</a></li>
    <li><a href="#">採用情報</a></li>
    <li><a href="#">アクセス</a></li>
  </ul>

  <ul class="l-sidebar_infobox_bnr">
    <li><a href="#"><img src="/images/common/iso_banner.png" alt="ISO認証 afaQ UKAS"></a></li>
    <li><a href="#"><img src="/images/common/blog_banner.png" alt="職人切磋琢磨ブログ"></a></li>
  </ul>


  <!--<div class="l-sidebar_infobox">
    <div class="l-sidebar_infobox_inner">
<img src="../images/common/contact_img.png" alt="製品情報">
    <h2 class="sec__title"><span><i class="fa fa-phone"></i>お問合せ</span></h2>
    <h4 class="company-name">有限会社 エムワン精工</h4>
    <ul>
      <li>本社所在地:</li>
      <li>〒144-0056<br>東京都大田区西六郷3-6-6</li>
      <li>TEL: 03-3733-1690</li>
      <li>FAX: 03-3860-8660</li>
    </ul>
    </div>
    <ul class="l-sidebar_infobox_bnr">
      <li><a href="#"><img src="../images/top/iso_logo.gif" alt="ISO認証 afaQ UKAS"></a></li>
    </ul>
  </div>-->
  </div>
</div>
