<div class="l-sidebar">
  <p class="l-sidebar_sp_open"><i class="fa fa-list-ul"></i>ページメニュー</p>
  <div class="l-sidebar_inner">
  <h3>製品案内</h3>
  <ul class="side_lineup">
    <li><a href="#">円筒研磨</a></li>
    <li><a href="#">内径研磨</a></li>
    <li><a href="#">テーパー加工</a></li>
    <li><a href="#">センターレス研磨</a></li>
    <li><a href="#">ネジ研磨</a></li>
    <li><a href="#">雌ネジ加工</a></li>
    <li><a href="#">精密微小ネジ</a></li>
    <li><a href="#">治具/ゲージ</a></li>
    <li><a href="#">設計/開発</a></li>
  </ul>


  <div class="l-sidebar_infobox">
    <div class="l-sidebar_infobox_inner">
<img src="../images/common/contact_img.png" alt="製品情報">
    <h2 class="sec__title"><span><i class="fa fa-phone"></i>お問合せ</span></h2>
    <h4 class="company-name">有限会社 エムワン精工</h4>
    <ul>
      <li>本社所在地:</li>
      <li>〒144-0056<br>東京都大田区西六郷3-6-6</li>
      <li>TEL: 03-3733-1690</li>
      <li>FAX: 03-3860-8660</li>
    </ul>
    </div>
    <ul class="l-sidebar_infobox_bnr">
      <li><a href="#"><img src="../images/top/iso_logo.gif" alt="ISO認証 afaQ UKAS"></a></li>
    </ul>
  </div>
  </div>
</div>
