<%-
  include('../common/_head', {
    page: json['kamata_meisters_network']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        K.M.N
        <span>
          カマタ・マイスターズ・<br class="u-pc-hide">ネットワーク
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

<% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <div class="l-main_inner">
      <section class="sec-inner_content">
        <div class="kmn-info_header">
          <h2 class="u-sp-hide"><span>カマタ・マイスターズ・ネットワーク<br>(登録商標)</span></h2>
        <h2 class="u-pc-hide"><span>K.M.N<br>(登録商標)</span></h2>
        <p class="kmn-info_header-description">
          カマタ･マイスターズ･ネットワーク（KMN）とは、全国に名だたる蒲田（大田区）の町工場が連携して複数の精密部品加工を単一の窓口で引き受けることで、発注・受入・検品・輸送といった管理業務を一元化し、これによってお客様の業務効率を向上させ、コストとリスクを低減する画期的なシステムです。
        </p>

        <img src="/images/kmn/thumb_kmn01.gif" alt="">

        <p class="kmn-info_header-description">
          窓口業務は業種/コスト/効率の観点から最適なKMN参加企業が担当します。お客様とKMN参加企業の双方にとってムダのないマッチングが可能です。
        </p>

        </div>
        <div class="sec-content__inner company-info_content">
          <h3>KMNのメリット</h3>

            <ol>
              <li>
                <h4>工程管理コストの低減</h4>
                <p>工程ごとに発生する発注、検品、伝票処理等の窓口/管理業務を一元化。</p>
              </li>

              <li>
                <h4>発注のスピード化</h4>
                <p>必要な品質や精度について説明をする手間が一度で済み、業務効率が向上。</p>
              </li>

              <li>
                <h4>加工間の流通コストの削減</h4>
                <p>工程ごとに発生する出荷/入荷の作業を集約。運送コストを削減。</p>
              </li>

              <li>
                <h4>品質の安定</h4>
                <p>工程間移動の際に発生し得る事故リスクの低減、工程間不良の低減、加工品質の向上。</p>
              </li>
            </ol>


          <h3>KMNのネットワーク</h3>

          <p>
            KMNには切削、研削、放電加工（ワイヤカット）、歯車、熱処理、表面処理等の他、多種多様な加工業者が在籍し、精密機械加工の技術相談、試作から量産までのコンサルティング及び組立て加工まで、生産工程も含めたソリューションを提案します。
          </p>


          <h3>守秘義務の徹底</h3>
          <p>KMNでは、お客様の大切な技術や業務に関する秘密を守るために、参加する全事業者に対して守秘義務契約を徹底しています。</p>

          <h3>事故/破損のリスクを低減</h3>
          <p>さらに、<span class="red">エムワン精工を窓口として発注いただける場合は、当社が加入する保険が適用となり、段階や範囲を問わず、ネットワーク内の運送において生じた事故や破損を全額を保障いたします。</span>万が一のときのリスク対策も万全です。</p>

      </section>
      </div>

      <% include ../common/_contact %>

      <% include ../common/_sidebarsp %>

    </main>
    <!-- / main -->

  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
