<%-
  include('../common/_head', {
    page: json['contact']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        CONTACT
        <span>
          お問い合わせ
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

<% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <div class="l-main_inner">
      <section class="sec-inner_content">
        <div class="contact_header">
          <h2><span>お問い合わせ</span></h2>
        </div>

        <div class="sec-content__inner company-info_content">

        <form action="mail.php" method="post">
          <div class="block--contents--table">
            <dl>
              <dt>お名前<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="お名前" placeholder="（例：山田　太郎）" required></dd>
            </dl>
            <dl>
              <dt>メールアドレス<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="メールアドレス" placeholder="（半角入力 例:abc@defg.co.jp）" required></dd>
            </dl>
            <dl>
              <dt>メールアドレス再入力<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="メールアドレス" placeholder="（半角入力 例:abc@defg.co.jp）" required></dd>
            </dl>
            <dl>
              <dt>会社名/組織名<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="会社名組織名" required></dd>
            </dl>
            <dl>
              <dt>部署名</dt>
              <dd><input type="text" name="部署名"></dd>
            </dl>
            <dl>
              <dt>役職名</dt>
              <dd><input type="text" name="役職名"></dd>
            </dl>
            <dl>
              <dt>ホームページ</dt>
              <dd><input type="text" name="ホームページ"></dd>
            </dl>
            <dl>
              <dt>電話番号<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="電話番号" placeholder="（半角入力 例:03-1234-5678 携帯可）" required></dd>
            </dl>
            <dl>
              <dt>FAX番号</dt>
              <dd><input type="text" name="FAX番号" placeholder="（半角入力 例:03-1234-5678）"></dd>
            </dl>
            <dl>
              <dt>郵便番号</dt>
              <dd><input type="text" name="郵便番号" placeholder="（半角入力　例：103-0001）"></dd>
            </dl>
            <dl>
              <dt>住所</dt>
              <dd><input class="full-width" type="text" name="住所" placeholder="（例:東京都中央区日本橋小伝馬町12-5）"></dd>
            </dl>
            <dl>
              <dt>添付ファイル</dt>
              <dd>
                <input type="file" id="fsc_ex_field1_9" name="fsc_ex_field9" value="" size="20">
                <input type="file" id="fsc_ex_field1_9" name="fsc_ex_field9" value="" size="20">
                <input type="file" id="fsc_ex_field1_9" name="fsc_ex_field9" value="" size="20">
                <p class="attention">
                  Acceptable file types: doc,docx,xls,xlsx,ppt,pptx,pdf,txt,gif,jpg,jpeg,png,<br class="u-pc-hide">dwf,dxf,dwg,jwc,eps,zip.<br>
                  Maximum file size: 1mb.<br>
                  送信可能なファイル形式：doc,docx,xls,xlsx,ppt,pptx,pdf,txt,gif,jpg,jpeg,png,<br class="u-pc-hide">dwf,dxf,dwg,jwc,eps,zip<br>
                  最大ファイルサイズ：1mb
                  </p>
              </dd>
            </dl>
            <dl>
              <dt>件名<span class="u-c-red">*</span></dt>
              <dd><input type="text" name="件名" placeholder="件名を入力ください" required></dd>
            </dl>
            <dl>
              <dt>お問い合わせ内容<span class="u-c-red">*</span></dt>
              <dd><textarea name="内容" required></textarea></dd>
            </dl>
          </div>

          <div class="u-ta-c u-mt-30 submitbtn">
            <input class="btn btn-submit js-submit" type="submit" value="送信">
          </div>
        </form>

      </section>
      </div>

      <% include ../common/_contact %>

      <% include ../common/_sidebarsp %>

    </main>
    <!-- / main -->

  </div>

</div>

<!-- ここまでコンテンツ -->



  <% include ../common/_footer %>
