<%-
  include('../common/_head', {
    page: json['thanks']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <div class="mainvisual">

    <div class="l-container">
<h2>
  <span>
    お問い合わせ完了
  </span>
</h2>
</div>

</div>

    <main id="main" class="l-main">

      <section class="page-content">

        <section class="page-block">
          <div class="page-block--contents">
            <div class="l-container">

              <section class="sec-content pege-first_txt" >
                <div class="l-container">
                  <p>
                    この度はお問い合わせいただきまして、誠にありがとうございます。<br>お問い合わせいただきました内容を確認後、担当者より改めてご連絡いたします。<br>
                </p>
                <a href="/">TOPに戻る</a>
                </div>
              </section>

              </div>
                </div>
              </section>

        </section>

    </main>
    <!-- / main -->


  </div>

  <!-- ここまでコンテンツ -->

  <% include ../common/_footer %>
