<%-
  include('../../common/_head', {
    page: json['female_screw']
  });
%>
<% include ../../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        PRODUCTS
        <span>
          製品情報
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

<% include ../../common/_sidebar %>

    <main id="main" class="l-main">
      <div class="l-main_inner">
      <section class="sec-inner_content">
        <div class="products-single_header">
        <h2><span>雌ネジ加工</span></h2>
        <p class="products-single_header-description">
          エムワン精工では、これまでに培ったノウハウを投入し、雌ネジの加工に特化した専用のCNC旋盤、および最適化されたプログラムの開発によって、高効率の雌ネジ加工に成功しています。この開発には、これまで職人の勘所に依存していた技術の移植や、技術伝承の問題を解決するという意義も兼ねています。
        </p>
        <div class="products-single_header_pdf">
        <a class="btn" href="#"><i class="fas fa-file-pdf"></i>PDFダウンロード</a>
        </div>
        </div>
        <div class="sec-content__inner products-single_content">
          <h3>雌ネジ加工専用CNC旋盤</h3>

          <div class="products-single_content_col_2">
          <p>
            自動車、半導体、工作機械等の高精度の送りネジ、位置決めネジが本来の精度を発揮するためには、雄ネジの精度だけでなく、対となる雌ネジの精度も重要です。この開発では、回転数やトルクといった旋盤の基幹部分の変更、切り込み量や送り速度、送り量などの調整、当社の長年の経験を元に蓄積したノウハウを導入して最適化したプログラム、専用ダイヤモンドバイトの開発等によって、雌ネジ加工の省力化、高効率化を達成しています。
          </p>
          </div>
          <h3>ラップ仕上げ相当の面粗度</h3>
          <div class="products-single_content_col">
            <div class="products-single_content_col_1">
          <img src="/images/products/thumb_female_screw01.gif" alt="">
          </div>
          <div class="products-single_content_col_2">
          <p>
            また精度においては、▽▽▽▽程度の仕上げ面が得られています。もちろん、雄ネジとの組み合わせの際に、摺り合わせの意味でラッピングは必要ですが、面粗度計による測定では、ラップ仕上げ相当の面が、専用マシンによる自動加工のみで得られています。<br>
            <br>
            <br>
            <br>
            <span class="small">開発には下記の東京都の助成金を活用しています。<br>
            <br>
            平成23年度受注型中小製造業競争力強化支援助成金「高精度雌ネジの専用NC旋盤の開発」<br>
            平成25年度受注型中小製造業競争力強化支援助成金「内径ねじ切り用工具の開発」</span>
          </p>
          </div>
          </div>
        </div>
      </section>
      </div>

      <% include ../../common/_contact %>

      <% include ../../common/_sidebarsp %>

    </main>
    <!-- / main -->

  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../../common/_footer %>
