<%-
  include('./common/_head', {
    page: json['home']
  });
%>
<% include common/_header %>

<!-- ここからコンテンツ -->



  <nav id="gnav-sp">
    <ul>
      <li><a href="#">ホーム</a></li>
      <li><a href="#">製品情報</a></li>
      <li><a href="#">会社概要</a></li>
      <li><a href="#">お見積り</a></li>
      <li><a href="#">お問合せ</a></li>
      <li><a href="#">よくある質問</a></li>
    </ul>
  </nav><!-- /gnav -->

  <div id="mainvisual">
    <div class="flexslider main-image">
      <ul class="slides">
        <li><img src="./images/top/slide01.jpg" alt="目に見えない多くの場所でHINODE PROTECT FUSEは60年以上前から皆様の安全を守ってきました。"></li>
        <li><a href="#"><img src="./images/top/slide02.jpg" alt="世界中で多くのお客様に愛され続けているベストセラー製品660GHシリーズ 安心・安全 HINODE PROTECT FUSE"></a></li>
        <li><img src="./images/top/slide03.jpg" alt="全製品安心の国内生産、累計100万本以上の販売実績がある太陽光発電システム向けヒューズ。"></li>
      </ul>
    </div>
    <nav class="top-sitemap">
      <ul class="cf">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">製品情報</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">お見積り</a></li>
        <li><a href="#">お問合せ</a></li>
        <li><a href="#">よくある質問</a></li>
      </ul>
    </nav>
  </div><!-- /mainvisual -->

  <div id="contents" class="cf">
    <main id="main" role="main">

      <!--<ul class="sp-topnav">
        <li><a href="#"><img src="./images/top/sp_nav_reason.jpg" alt="日之出が選ばれる理由"></a></li>
        <li>
          <ul class="col-2">
            <li><a href="#"><img src="./images/top/sp_nav_huse_guide.jpg" alt="ヒューズご利用ガイド"></a></li>
            <li><a href="#"><img src="./images/top/sp_nav_appli_guide.jpg" alt="アプリケーションガイド"></a></li>
          </ul>
        </li>
        <li><img src="./images/top/sp_nav_history.jpg" alt="日之出電機 60年の歴史"></li>
        <li><a href="#"><img src="./images/top/sp_nav_interview.jpg" alt="エンジニアインタビュー"></a></li>
        <li>
          <ul class="col-2">
            <li><a href="#"><img src="./images/top/sp_nav_document.jpg" alt="製品技術資料"></a></li>
            <li><a href="#"><img src="./images/top/sp_nav_info.jpg" alt="製品に関する情報"></a></li>
          </ul>
        </li>
        <li>
          <ul class="col-2">
            <li><a href="#"><img src="./images/top/sp_nav_standard.jpg" alt="規格取得"></a></li>
            <li><img src="./images/top/sp_nav_case.jpg" alt="業界別導入事例"></li>
          </ul>
        </li>
        <li><a href="#" target="_blank"><img src="./images/top/sp_nav_download.jpg" alt="製品カタログダウンロード"></a></li>
      </ul>--><!-- /topnavi -->

      <!--<ul class="topnav cf">
        <li class="w475"><a href="#"><img src="./images/top/nav_reason.jpg" alt="日之出が選ばれる理由"></a></li>
        <li class="w475 box-right">
          <ul>
            <li><a href="#"><img src="./images/top/nav_huse_guide.jpg" alt="ヒューズご利用ガイド"></a></li>
            <li><a href="#"><img src="./images/top/nav_document.jpg" alt="製品技術資料"></a></li>
            <li><a href="#"><img src="./images/top/nav_info.jpg" alt="製品に関する情報"></a></li>
          </ul>
          <ul class="col-1">
            <li><img src="./images/top/nav_history.jpg" alt="日之出電機 60年の歴史"></li>
          </ul>
        </li>
        <li class="nav_appli"><a href="#"><img src="./images/top/nav_appli_guide.jpg" alt="アプリケーションガイド"></a></li>
        <li>
          <ul>
            <li class="nav_standard"><a href="#"><img src="./images/top/nav_standard.jpg" alt="規格取得"></a></li>
            <li><img src="./images/top/nav_case.jpg" alt="業界別導入事例"></li>
          </ul>
        </li>
        <li class="nav_interview"><a href="#"><img src="./images/top/nav_interview.jpg" alt="エンジニアインタビュー"></a></li>
        <li><a href="#"><img src="./images/top/nav_download.jpg" alt="製品カタログダウンロード"></a></li>
      </ul><!-- /topnavi -->

      <section class="sec-contents">
        <h2 class="title-section">製品から選ぶ</h2>
        <ul class="sp-top-product">
          <li>
            <div>
              <a href="#">
                <img src="./images/top/product_nav_kogata.jpg" alt="">
                <br><span>円筒研磨</span>
              </a>
            </div>
            <div>
              <a href="#">
                <img src="./images/top/product_nav_tsutsugata.jpg" alt="">
                <br><span>テーパー加工</span>
              </a>
            </div>
            <div>
              <a href="#">
                <img src="./images/top/product_nav_kadogata.jpg" alt="">
                <br><span>ネジ研磨</span>
              </a>
            </div>
          </li>
          <li>
            <div>
              <a href="#">
                <img src="./images/top/product_nav_option.jpg" alt="">
                <br><span>特殊治具・精密ゲージ</span>
              </a>
            </div>
            <div>
              <a href="#">
                <img src="./images/top/product_nav_search.jpg" alt="">
                <br><span>設計・開発</span>
              </a>
            </div>
            <div>
              &nbsp;
            </div>
          </li>
        </ul>

        <div class="top-product">
        <ul>
          <li>
            <a href="#">
              <img src="./images/top/product_nav_kogata.jpg" alt="">
              <br><span>円筒研磨</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/top/product_nav_tsutsugata.jpg" alt="">
              <br><span>テーパー加工</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/top/product_nav_kadogata.jpg" alt="">
              <br><span>ネジ研磨</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/top/product_nav_option.jpg" alt="">
              <br><span>特殊治具・精密ゲージ</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="./images/top/product_nav_search.jpg" alt="">
              <br><span>設計・開発</span>
            </a>
          </li>
        </ul>
        </div>
      </section>

      <div class="bnr-warning c-btn">
        <a href="#" target="_blank" class="btn btn--default">製品に関する注意事項</a></div>

      <div class="sec-contents cf">
      <section class="top-news">
        <h2 class="title-section">お知らせ <span><i class="fa fa-list-ul"></i><a href="#">お知らせ一覧へ</a></span></h2>
        <ol class="news">
<!-- 工事中 -->

        <!-- 年末年始休暇日について -->
          <li>
            <dl>
              <dt><time datetaime="2020-07-22">2021.03.06</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text">ニュース1</span>
                  </div>
                </div>
              </dd>
            </dl>
          </li> 
        <!-- 660HTP一部生産終了のお知らせ -->
          <li>
            <dl>
              <dt><time datetaime="2020-07-22">2021.03.06</time></dt>
              <dd>
                <div class="news-box">
                <div class="news-cat"><span class="cat-product">製品情報</span></div>                  
                <div><a href="#" target="_blank">ニュース2</a></div>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><time datetaime="2020-07-22">2021.03.06</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text">ニュース3</span>
                  </div>
                </div>
              </dd>
            </dl>
          </li> 

<!-- 工事中・ここまで -->


          <!-- <li>
            <dl>
              <dt><time datetaime="2020-04-13">2020.04.13</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text"><a href="#">緊急事態宣言等に伴う当社の対応について</a></span>
                  </div>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><time datetaime="2019-07-11">2019.07.11</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-product">製品情報</span></div>
                  <div>
                    <span class="link-text"><a href="#">250/500SFシリーズ・660CFシリーズ用日之出純正ヒューズクリップ発売</a></span>
                  </div>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><time datetaime="2019-07-02">2019.07.02</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text"><a href="#">日之出が選ばれる理由ページを公開いたしました。</a></span>
                  </div>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><time datetaime="2018-12-04">2018.12.04</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text"> 年末年始休暇日は12月29日(土)～1月6日(日)までとさせて頂きます。</span>
                  </div>
                </div>
              </dd>
            </dl>
          </li>

           <li>
            <dl>
              <dt><time datetaime="2018-09-13">2018.09.13</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-company">会社情報</span></div>
                  <div>
                    <span class="link-text"> <a href="#">electronica2018に出展いたします。</a></span>
                  </div>
                </div>
              </dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt><time datetaime="2018-07-31">2018.07.31</time></dt>
              <dd>
                <div class="news-box">
                  <div class="news-cat"><span class="cat-product">製品情報</span></div>
                  <div>
                    <span class="link-text">  <a href="#" target="_blank">“-F”付き型式製品、受注終了のお知らせ</a></span>
                  </div>
                </div>
              </dd>
            </dl>
          </li> -->



        </ol><!-- /news -->

        <p class="sp-news-link text-link-right"><i class="fa fa-list-ul"></i><a href="#">お知らせ一覧へ</a></p>
      </section>

      <section class="top-side">
        <div class="top-contact">
          <h2><i class="fa fa-phone"></i><span>お問合せ</span></h2>
          <div class="top-contact-inner">
            <p class="company-name">有限会社 エムワン精工</p>
            <ul>
              <li>本社所在地:</li>
              <li>〒144-0056 東京都大田区西六郷3-6-6</li>
              <li>TEL: 03-3733-1690</li>
              <li>FAX: 03-3860-8660</li>
            </ul>
          </div>
        </div>

        <ul class="top-side-banner">
          <li><a href="#"><img src="./images/top/bnr_sample.png" alt="ISO認証 afaQ UKAS"></a></li>
        </ul>

      </section><!-- top-side -->

      </div>


    </main><!-- /main -->

 


<!-- ここまでコンテンツ -->

<% include common/_footer %>
