<%-
  include('./common/_head', {
    page: json['home']
  });
%>
<% include common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <div class="mainvisual">
    <div class="js-slider">
      <li>
        <img src="./images/common/header_pic_01.png">
      </li>

      <li>
        <img src="./images/top/slide/slide02.jpg">
      </li>

      <li>
        <img src="./images/top/slide/slide03.jpg">
      </li>

    </div>


  </div>

  <section class="sec-content index-section__lineup">
    <h2 class="sec__title"><span>製品から選ぶ</span></h2>
    <div class="index-section__inner">
      <div class="l-container">
        <ul class="index-lineup">
          <li>
            <a href="/single/">
              <figure>
                <img src="./images/top/product_nav_kogata.jpg" alt="">
                <figcaption>円筒研磨</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="/single/">
              <figure>
                <img src="./images/top/product_nav_tsutsugata.jpg" alt="">
                <figcaption>テーパー加工</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="/single/">
              <figure>
                <img src="./images/top/product_nav_kadogata.jpg" alt="">
                <figcaption>ネジ研磨</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="/single/">
              <figure>
                <img src="./images/top/product_nav_option.jpg" alt="">
                <figcaption>特殊治具・精密ゲージ</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="/single/">
              <figure>
                <img src="./images/top/product_nav_search.jpg" alt="">
                <figcaption>設計・開発</figcaption>
              </figure>
            </a>
          </li>

        </ul>
        <div class="u-ta-c">
          <a href="#" target="_blank" class="btn btn--default">製品に関する注意事項</a>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-content index-section__news_info">
    <div class="l-container index-section__news_info_container">
      <div class="index-section__news_info_newsbox">
        <h2 class="sec__title">
          <span>お知らせ</span>
        </h2>
        <ul class="newslist">


          <li>
            <a href="">
              <div class="newslist-col newslist-date">2021.0.0</div>
              <div class="newslist-col newslist-cat"><span class="cat-product">製品情報</span></div>
              <div class="newslist-col newslist-title">
                <h3>ニュースタイトルニュースタイトルニュースタイトルニュースタイトルニュースタイトル</h3>
               </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="newslist-col newslist-date">2021.0.0</div>
              <div class="newslist-col newslist-cat"><span class="cat-company">会社情報</span></div>
              <div class="newslist-col newslist-title">
                <h3>ニュースタイトルニュースタイトルニュースタイトルニュースタイトル</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="newslist-col newslist-date">2021.0.0</div>
              <div class="newslist-col newslist-cat"><span class="cat-company">会社情報</span></div>
              <div class="newslist-col newslist-title">
                <h3>ニュースタイトルニュースタイトル</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="">
              <div class="newslist-col newslist-date">2021.0.0</div>
              <div class="newslist-col newslist-cat"><span class="cat-product">製品情報</span></div>
              <div class="newslist-col newslist-title">
                <h3>ニュースタイトル</h3>
               </div>
            </a>
          </li>

          <li>
            <a href="">
              <div class="newslist-col newslist-date">2021.0.0</div>
              <div class="newslist-col newslist-cat"><span class="cat-company">会社情報</span></div>
              <div class="newslist-col newslist-title">
                <h3>ニュースタイトル</h3>
              </div>
            </a>
          </li>



        </ul>
        <div class="u-ta-c">
          <a href="#" target="_blank" class="btn btn--default">お知らせ一覧</a>
        </div>
      </div>
      <div class="index-section__news_info_infobox">
        <div class="index-section__news_info_infobox_inner">
          <img src="../images/common/contact_img.png" alt="製品情報">
          <h2 class="sec__title"><span><i class="fa fa-phone"></i>お問合せ</span></h2>
          <h3 class="company-name">有限会社 エムワン精工</h3>
          <ul>
            <li>本社所在地:</li>
            <li>〒144-0056<br>東京都大田区西六郷3-6-6</li>
            <li>TEL: 03-3733-1690</li>
            <li>FAX: 03-3860-8660</li>
          </ul>
        </div>
        <ul class="index-section__news_info_infobox_bnr">
          <li><a href="#"><img src="./images/top/iso_logo.gif" alt="ISO認証 afaQ UKAS"></a></li>
        </ul>


      </div>
    </div>
  </section>

</div>

<!-- ここまでコンテンツ -->

<% include common/_footer %>
