.u-c-black { color: #000 !important; }
.u-c-white { color: white !important; }
.u-c-red { color: $text-red !important; }
.u-c-green { color: $text-green !important; }
.u-c-blue { color: $lightblue; }
