<%-
  include('../common/_head', {
    page: json['company_info']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        COMPANY
        <span>
          会社案内
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

<% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <div class="l-main_inner">
      <section class="sec-inner_content">
        <div class="company-info_header">
        <h2><span>会社案内</span></h2>
        <div class="company-info_header_pdf">
        <a class="btn" href="#"><i class="fas fa-file-pdf"></i>PDFダウンロード</a>
        </div>
        </div>
        <div class="sec-content__inner company-info_content">
          <h3>企業概要</h3>

          <table class="company-info_content_overview">
            <tr>
              <th>社名</th>
              <td>有限会社　エムワン精工</td>
            </tr>
            <tr>
              <th>本社所在地</th>
              <td>〒144-0056 東京都大田区西六郷3-6-6　>>交通案内</td>
            </tr>
            <tr>
              <th>電話/FAX番号</th>
              <td>TEL：03-3733-1690　/　FAX：03-3733-6410</td>
            </tr>
            <tr>
              <th>Eメール</th>
              <td>
                info（ここにアットマーク）m1-seiko.co.jp<br>
                <span class="small">初めてのお客様は、正しく対応させていただく都合上、お手数ですが「問い合わせ」ページのフォームメールより送信してください。</span>
              </td>
            </tr>
            <tr>
              <th>代表者</th>
              <td>代表取締役社長　佐藤　一司</td>
            </tr>
            <tr>
              <th>決算期</th>
              <td>9月</td>
            </tr>
            <tr>
              <th>資本金</th>
              <td>3,000,000円</td>
            </tr>
            <tr>
              <th>顧問<br><span class="small">（敬称略/順不同）</span></th>
              <td>
              顧問税理士：　吉田　大<br>
              顧問労務士：　加藤　正利
              </td>
            </tr>
          </table>


          <h3>ダウンロード・印刷用　<br class="u-pc-hide">会社案内</h3>
          <p>
            ダウンロード・印刷用の会社案内は、以下のリンクをクリックしてご利用ください。<br>
            <br>
            <a href="#">&gt;&gt; 会社案内</a>
          </p>

          <h3>当社について</h3>
          <p>
            エムワン精工は、全国でも有数の腕利き職人がしのぎを削るここ大田区（蒲田地区）にあって、特にミクロン～サブミクロン単位の高精度品を得意としています。加工分野は、研磨、旋盤、フライス、治具研磨、歯研、成形研磨、センタレス（デッドツール）、ＮＣ旋盤、マシニング、ワイヤーカット、放電加工など幅広く、部品から装置、金属から樹脂、小物から中物、単品（カスタムメイド）から量産まで対応します。設計・開発を含むアイデアやノウハウの提供にも力を入れており、他社で断られた難しい仕事や求めていた精度や性能が得られなかった品物について問題を解決してきた実績が多数ございます。<br>
            <br>
            上記の加工分野の中でも主軸のいくつかの製品は、目の肥えたお客様が長年にわたって「代替の業者が見つからない」とおっしゃるほどの高い評価をいただいています。
          </p>

          <h3>社外ブレインとして<br class="u-pc-hide">お客様を支援</h3>
          <p>
            製品の性質上、詳細な製品名や会社名を過去の実績としてお伝えできないことは残念ですが、日本でも（あるいは世界でも）トップクラスの腕利き職人やアイデア職人達が力を合わせて、お客様の社外ブレインとして参加し、企画段階からお役に立つことが可能です。もちろん守秘義務も徹底しています。私たちは、お客様にとって既存の社内プロジェクトでは得られなかった新しい角度からのアイデアを提供し、プロセスの効率化に寄与したいと考えています。
          </p>

          <h3>ISO9001<br class="u-pc-hide">品質管理システム</h3>
          <p>
            2009年にはISO9001の認証を取得し、製品や運営体制全般の品質を定期的に監査/改善しています。当社にとってのISO9001は当社の実態に基づいて構築されており、形骸化することなく成果を上げています。匠の腕がものを言う業界にあって、社外からも客観的に評価できる基準で品質を管理できる体制を構築しています。
          </p>

        </div>
      </section>
      </div>

      <% include ../common/_contact %>

      <% include ../common/_sidebarsp %>

    </main>
    <!-- / main -->

  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
