.c-btn {
  &--center {
    text-align: center;
  }
  &--col2 {
    text-align: center;
    .btn {
      width: 250px;
      margin: 5px 0;
      @include min-screen($break_point_min) {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}

.btn {
  width: 160px;
  padding: 10px 0;
  color: $white !important;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 13px;
  font-weight:normal;
  border:solid 1px $red;
  line-height: 1.2;
  letter-spacing: 1;
  transition: eaes 0.2s;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  transition:  ease 0.3s;
  @include min-screen($break_point_min) {
    width: 200px;
    padding: 10px;
    font-size: 16px;
  }

  &:hover {
    // background-color: $gold;
    // border: 2px solid $gold;
    // color: $white !important;
  }

  &:visited {
    color: $black;
  }

  &-contact{
    color:$white !important;
  }

  //size

  &.btn--wide {
    padding: 18px 10px;
    font-size: 14px;
    @include min-screen($break_point_min) {
      width: 280px;
      margin-top: 25px;
      padding: 25px;
      font-size: 20px;
    }
    &::after {
      @include min-screen($break_point_min) {
        font-size: 20px;
      }
    }
  }

  &.btn-en {
    font-weight: 500px;
  }


  //modifier
  &.btn--default {
    background-color: $red;
    border: 1px solid rgba($white, 0.6);
    color: $white;
    &:after {
      color: $white;
    }

    &:hover {
      background-color: $lightred;
      // color: $red;
      &:after {
        color: $black;
      }
    }
    a{
      text-decoration: none;
    }
  }

  &.btn--white {
    color: $black;
    background-color: $white;
  }

  &.btn--brown {
    color: $white;
    background-color: $white;
    border: 1px solid $brown;
  }

  &.btn--blue {
    color: $white;
    background-color: $white;
    border: 1px solid $brown;
  }

  //modifier

  &.btn--submit {
    background-color: $white;
    font-size: 10px;
    border-radius: 10px;
    &::after {
      display: none;
    }
    &:hover {
      opacity: 0.8;
    }
    @include min-screen($break_point_min) {
      padding: 14px;
      font-size: 17px;
    }
  }

  &.btn--green {
    background-color: transparent;
    color: $green;
    border-color: $green;
    &:hover {
      background-color: $green;
      color: $white;
      &:after {
        color: $white;
      }
    }
  }

  &.btn--green-inverted {
    background-color: $green;
    color: $white;
    border-color: $green;
    &:hover {
      background-color: transparent;
      color: $green;
      &:after {
        color: $green;
      }
    }
  }

  &.btn--orange {
    background-color: transparent;
    color: $orange;
    border-color: $orange;
    &:hover {
      background-color: $orange;
      color: $white;
      &:after {
        color: $white;
      }
    }
  }

  &.btn--purple {
    background-color: transparent;
    color: $purple;
    border-color: $purple;
    &:hover {
      background-color: $purple;
      color: $white;
      &:after {
        color: $white;
      }
    }
  }

  &.btn--lime {
    background-color: transparent;
    color: $lime;
    border-color: $lime;
    &:hover {
      background-color: $lime;
      color: $white;
      &:after {
        color: $white;
      }
    }
  }

  &.btn-line {
    border: 2px solid $brown;
    color: $brown;
    &:hover {
      border: 2px solid $darkenyellow;
      background-color: $darkenyellow;
    }
  }

  &.btn-f__small {
    font-size: 14px;
    @include min-screen($break_point_min) {
      font-size: 16px;
    }
  }
}

.page-anchor:after {
  content: "\f078";
  @include min-screen($break_point_min) {
    font-size: 10px;
    font-weight: normal;
  }
}

/* animate */

@keyframes circleanime {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.submit_btn{
  width: 282px;
  height: 70px;
  background-image: url(../images/index/submit_btn@2x.png) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color: unset !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #fff5f5;
}
