<%-
  include('../common/_head', {
    page: json['company']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
        <div class="mainvisual">

          <div class="l-container">
      <h2>
        <span>
          COMPANY
        </span>
        会社案内
      </h2>
      </div>

      </div>

  <main class="l-main">

    <div class="page-container">

      <section class="sec-content sec-first">

        <div class="l-container">

          <h3>会社概要</h3>


    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
     <th>社名</th>
     <td>株式会社ディアス</td>
    </tr>
    <tr>
     <th>代表</th>
     <td>代表取締役　小林　健司</td>
    </tr>
    <tr>
     <th>住所</th>
     <td>〒103-0001<br>
     東京都中央区日本橋小伝馬町12-5 小伝馬町YSビル9F</td>
    </tr>
    <tr>
     <th>電話番号</th>
     <td>03-5623-4410</td>
    </tr>
    <tr>
     <th>FAX番号</th>
     <td>03-5623-4412</td>
    </tr>
    <tr>
     <th>資本金</th>
     <td>8,000,000円</td>
    </tr>
    <tr>
     <th>事業内容</th>
     <td>店舗デザイン、施工、監理、リニューアル<br>
      内外装設計、施工<br>
      看板サイン、メンテナンス<br>
     オフィスデザイン</td>
    </tr>
    <tr>
     <th>登録許可</th>
     <td>東京都知事 許可　（般-27）第143430号<br>
      屋外広告業登録　   東京都 都広 第3515号<br>
     一級建築士事務所　東京都知事登録第60945号</td>
    </tr>
    <tr>
     <th>取引銀行</th>
     <td>三菱東京UFJ銀行　恵比寿支店<br>
     朝日信用金庫　　  東日本橋支店</td>
    </tr>
   </tbody>
 </table>



        </div>

      </section>

      <section class="sec-content sec-second">

        <div class="l-container">

        <h3>アクセスマップ</h3>


        <div class="gmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.4440046509326!2d139.77665501525902!3d35.69068998019206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601889534eeeb29f%3A0x4fb6241297f3fb58!2z44CSMTAzLTAwMDEg5p2x5Lqs6YO95Lit5aSu5Yy65pel5pys5qmL5bCP5Lyd6aas55S677yR77yS4oiS77yV!5e0!3m2!1sja!2sjp!4v1511856367534" width="500" height="550" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>

        </div>

      </section>

    </div>


  </main>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
