<%-
  include('../common/_head', {
    page: json['products']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <h2>
        <span>
          PRODUCTS
        </span>
        製品情報
      </h2>
    </div>

  </div>

  <div class="l-content l-container">

    <% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <section class="sec-inner_content">
        <p class="products-description">
          エムワン精工の主な営業分野/品目は以下のとおりです。<br>
          以下に記載されていない項目でも当社で対応可能／またはご紹介できる場合もございます。<br>
          詳細はご相談ください。<br>
        </p>
        <div class="sec-content__inner">
          <h3 class="sec-content__title">営業分野</h3>
          <ul class="pdlist">

            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">研磨/研削/切削加工全般<br>（内径/外径/丸もの/角もの)</h3>
                </div>
              </div>
            </li>

            <li>
              <div class="pdlist-img">
                <img src="../images/products/cylindrical_grinding_title.jpg" alt="円筒研削（円筒研磨）">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">円筒研削<br class="u-pc-hide">（円筒研磨）</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>

            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">平面研削<br class="u-pc-hide">（平面研磨）</h3>
                </div>
              </div>
            </li>

            <li>
              <div class="pdlist-img">
                <img src="../images/products/internal_grinding_title.jpg" alt="内面研削（内径研磨）">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">内面研削<br class="u-pc-hide">（内径研磨）</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/centerless_grinding_title.jpg" alt="センターレス研磨">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">センターレス研磨</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">プロファイル研削</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">冶具研削</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">成形研削</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">歯車研削（歯研）</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">工具研削</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/screw_title.jpg" alt="ネジ研削/研磨（雌ネジ合わせ/ラッピング）">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">ネジ研削/研磨<br class="u-pc-hide">（雌ネジ合わせ<br class="u-pc-hide">/ラッピング）</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/female_screws_title.jpg" alt="雌ネジ加工">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">雌ネジ加工</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/micro_screws_title.jpg" alt="精密微小ネジ">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">精密微小ネジ</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">テーパー合わせ加工</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/jig_title.jpg" alt="特殊治具製作">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">特殊治具製作</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">旋盤加工</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">ゲージ/測定治具</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">ＮＣ旋盤</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">マシニング</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">ワイヤカット</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">放電加工</h3>
                </div>
              </div>
            </li>
          </ul>

          <h3 class="sec-content__title">営業品目</h3>
          <ul class="pdlist">

            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">精密部品加工<br class="u-pc-hide">（金属/樹脂）</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">高精度測定治具/<br class="u-pc-hide">ゲージ製作</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/pd_noimg.png" alt="製品情報">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">特殊産業装置製作</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="pdlist-img">
                <img src="../images/products/design_development_title.jpg" alt="各種設計・開発">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title">各種設計・開発</h3>
                <div class="u-ta-c">
                  <a href="/single/" target="_blank" class="btn btn--default">詳細</a>
                </div>
              </div>
              </div>
            </li>
          </ul>

          <section class="c-contact">
            <h2 class="sec__title">お問合せ</h2>
            <p class="c-contact-info">電話でのお問い合わせはこちら</p>
            <p class="c-contact-tel">
              <span>TEL:</span> 03-3733-1690
            </p>
            <p class="c-contact-date"><span>電話受付</span>月～金 9:00～17:00</p>
            <div class="c-btn">
              <a class="btn btn__sp--min btn--gradient btn--contact" href="/contact/"><i class="far fa-envelope"></i> お問い合わせ</a>
            </div>
          </section>
        </div>
      </section>

    </main>
    <!-- / main -->
  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
