<%-
  include('../common/_head', {
    page: json['products']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        PRODUCTS
        <span>
          製品情報
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

    <% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <section class="sec-inner_content">

        <div class="sec-content__inner">
          <ul class="pdlist">

            <li>
              <a href="/products/cylindrical_grinding/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_01.png" srcset="/images/products/thumb_pd_01.png 1x, /images/products/thumb_pd_01@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>円筒研磨</span></h3>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="/products/internal_grinding/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_02.png" srcset="/images/products/thumb_pd_02.png 1x, /images/products/thumb_pd_02@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>内径研磨</span></h3>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="/products/taper/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_06.png" srcset="/images/products/thumb_pd_06.png 1x, /images/products/thumb_pd_06@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>テーパー合わせ加工</span></h3>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="/products/centerless_grinding/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_03.png" srcset="/images/products/thumb_pd_03.png 1x, /images/products/thumb_pd_03@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>センターレス研磨</span></h3>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="/products/screws/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_04.png" srcset="/images/products/thumb_pd_04.png 1x, /images/products/thumb_pd_04@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>ネジ研削/研磨<br>(雌ネジ合わせ/ラッピング)</span></h3>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="/products/female_screw/">
              <div class="pdlist-img">
                <img src="/images/products/thumb_pd_05.png" srcset="/images/products/thumb_pd_05.png 1x, /images/products/thumb_pd_05@2x.png 2x" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>雌ネジ加工</span></h3>
                </div>
              </div>
              </a>
            </li>

          </ul>
        </div>
      </section>

      <% include ../common/_contact %>

      <% include ../common/_sidebarsp %>

    </main>
    <!-- / main -->
  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
