.c-contact {
  border: 2px solid $gray;
  background-color: $lightgray;
  border-radius: 10px;
  padding: 20px 13px;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  @include min-screen($break_point_max) {
    width: 100%;
    padding: 40px 15px;
  }

  .c-contact-info {
    margin-top: 25px;
    font-weight: bold;
    font-size: 13px;
    @include min-screen($break_point_max) {
      margin-top: -10px;
      font-size: 17px;
    }
  }
  .c-contact-tel {
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: $red;
    @include min-screen($break_point_max) {
      font-size: 30px;
    }
    span{
      color: $black;
      font-size: 20px;
    }
  }
  .c-contact-date {
    margin: 5px 0 10px;;
    font-size: 13px;
    @include min-screen($break_point_max) {
      margin: 15px 0 20px;
      font-size: 17px;
    }
    span {
      display: inline-block;
      margin-bottom: 5px;
      padding: 2px 10px;
      background-color: $lightgray;
      font-weight: bold;
      font-size: 13px;
      @include min-screen($break_point_max) {
        font-size: 17px;
      }
    }
  }
}
