.newslist{
  li{
    margin-bottom: 20px;
    a{
      text-decoration: none;
      @include min-screen($break_point_min) {
        display: flex;
      }
    }
    h3{
      line-height: 20px;
      margin: 0px;
      padding: 0px;
    }
  }
  &-col{
    margin-right: 10px;
  }
  &-date{
    width: 70px;
  }
  &-cat{
    width: 100px;
    margin: 5px 0px;
    @include min-screen($break_point_min) {
      margin: 0px;
    }
    span{
      background-color: $red;
      padding: 2px 8px;
      border-radius: 4px;
      font-size: 12px;
      color: $white;
      display: inline-block;
    }
  }
  &-title{
    width: 100%;
    @include min-screen($break_point_min) {
    width: calc(100% - 20px);
    }
  }
}
