.newslist{
  margin-bottom: 32px;
  li{
    padding: 20px 0;
    border-bottom: 1px solid #E1E1E1;
    a{
      text-decoration: none;
      @include min-screen($break_point_min) {
      }
    }
    h3{
      font-size: 16px;
      
    }
  }
  &-col{
  }
  &-date{
    color:#949494;
    font-size: 16px;
  }

  &-title{
    width: 100%;
  }
}
