.pagetop {
  display: none;
  width: 205px;
  position: fixed;
  bottom: 80px;
  right: 0px;
  border-bottom: solid 1px $brown;
  font-family: 'Barlow', sans-serif;
  padding-bottom: 6px;
padding-left: 5px;
@include max-screen($break_point_max) {
  width: 75px;
  position: fixed;
  bottom: 50px;
}
  a{
    text-decoration: none;
    font-size: 15px;
      color:$brown;
    @include max-screen($break_point_max) {
      font-size: 13px;
    }
  }
}
