/*=========================
common footer
==========================*/

.l-footer {
  // background-image: url(../images/footer/footer_bg_sp.jpg);
  // background-size: cover;
  // margin-top: 30px;
  // padding-top: 60px;
  // font-size: 12px;
  // color: $white;
  // text-align: center;
  // font-family: $enfont;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
  background-color: #f7f7f7;
  @include min-screen($break_point_pc) {
    // background-image: url(../images/footer/footer_bg.png);
    // background-size: 1960px;
    // background-repeat: no-repeat;
    // background-position: center;
    // margin-top: 100px;
    // padding-top: 65px;
    // font-size: 14px;
  }

  .l-container{
  padding: 0px;
  }

  .footer-menu{
    display: block;
    @include min-screen($break_point_pc) {
      display: flex;
    }
    li{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      border-bottom: solid 1px #ebebeb;
      padding: 10px 0px;
      @include min-screen($break_point_pc) {
        width: 25%;
        border-bottom: none;
        border-left: solid 1px #ebebeb;
      }

      &:last-child{
        border-right: solid 1px #ebebeb;
      }
      a{
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin: auto;
        width: 100%;
        margin: 5px 0px;
        @include min-screen($break_point_pc) {
          margin: 2px 0px;
        }
      }

      .footer_pd_cat_box{
        @include min-screen($break_point_pc) {
         text-align: left;
       }
       text-align: center;
      }
    }

    .footer-menu_top{
      background-color: #fff;
      .footer-menu_top_box{
        width: 160px;
        text-align: center;
        a{
          margin-top: 15px;
          margin-bottom: 15px;
        }
      img{
        width: 100px;
        margin-top: 15px;
      }
     }
    }
  }

}

.footer-copy {
  background-color: #e3e3e3;
  padding: 10px;
  small {
    font-size: 10px;
    font-weight: normal;
    font-weight: 500;
    color: $black;
    @include min-screen($break_point_pc) {
      font-size: 13px;
    }
  }
}


.contact-sec{
  margin-top: 50px;
  background: $blue-gradient_left;
  padding: 20px;
  @include min-screen($break_point_pc) {
  padding: 50px 0px;
  }
  .l-container{
    background-color: $white;
    max-width: 750px;
    border-radius: 5px;
    padding: 20px 0px;
    box-shadow: 0 0 5px #313131;
    text-align: center;
    @include min-screen($break_point_pc) {
      padding: 30px 0px;
    }
    p{
      position: relative;
      display: inline-block;
      padding-right: 6px;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
      &:after{
        @include min-screen($break_point_pc) {
          content: "";
          width: 35px;
          height: 36px;
          background-image: url(../images/footer/slash_boder@2x.png);
          background-size: cover;
          background-position: center;
          display: inline-block;
          position: relative;
          top: 10px;
          font-weight: bold;
          font-size: 17px;
        }
      }
    }

    .contact-btn{
      background: linear-gradient(to bottom, #3e71ff,#574eff);
      height: 100%;
      color: $white !important;
      i{
        margin-top: 3px;
        font-size: 18px;
        @include min-screen($break_point_pc) {
          font-size: 15px;
          margin-right: 5px;
        }
      }
      @include min-screen($break_point_pc) {
        height: auto;
        width: 200px;
        padding: 16px 0px;
        font-size: 14px;
      }
    }



  }
}
