<%-
  include('../common/_head', {
    page: json['craftsmanship']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block side-contents">
  <div class="mainvisual">

    <div class="l-container">
      <div class="mainvisual-inner">
      <h2>
        CRAFTSMANSHIP
        <span>
          M1のものづくり
        </span>
      </h2>
      </div>
    </div>

  </div>

  <div class="l-content l-container">

    <% include ../common/_sidebar %>

    <main id="main" class="l-main">
      <section class="sec-inner_content">
        <div class="sec-content__inner">
          <ul class="pdlist">

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>

            <li>
              <a href="#">
              <div class="pdlist-img">
                <img src="/images/craftsmanship/thumb_single.png" alt="">
              </div>
              <div class="pdlist-inner">
                <div class="pdlist-inner_contents">
                <h3 class="pdlist-title"><span>高精度軸物加工</span></h3>
                <p>センター孔研磨機を活用し、<br>高い軸精度の製品を手がけています。</p>
                </div>
              </div>
              </a>
            </li>


          </ul>
        </div>
      </section>

      <% include ../common/_contact %>

      <% include ../common/_sidebarsp %>

    </main>
    <!-- / main -->
  </div>

</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
